<mat-card class="item-card" style="background-color: rgb(212, 216, 218);">
    <img mat-card-image class="item-image" src="{{imageLink}}" alt="name">
    <mat-card-content >
        <mat-list role="list">
            <mat-list-item role="listitem">   
                <span class="item-price">$ {{price | currency:'COP'}} </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="item-name">{{name}} </span>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
  </mat-card>
  